/* ----- DEFINE COLORS ----- */
/* ----- GENERIC CLASSES ----- */
.white-no-deco {
  color: white;
  text-decoration: none;
}
.container-pops {
  margin: 0 auto;
  max-width: 1220px;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.width-50p {
  width: 50% !important;
}
/* ----- MIXINS ----- */
/* ----- BASE DEFINITIONS ----- */
body {
  position: relative;
  background-color: #cccccc;
  font-size: 12px;
  -webkit-transition-property: 'background';
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: 'background';
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: 'background';
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: 'background';
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in-out;
  transition-property: 'background';
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#event-page {
  background-color: #22dbfd;
}
html,
body,
h1,
h2,
h3,
h4 {
  font-family: 'andale mono', 'lucida console', monaco, terminal, 'courier new', courier, monospace;
}
h2 {
  font-size: 20px;
}
#menu-wrapper {
  position: relative;
  height: 38px;
  width: 100%;
}
#menu-wrapper:hover #menu {
  top: 0;
}
#menu-wrapper #menu {
  position: fixed;
  top: -33px;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  -webkit-transition-property: 'background';
  -webkit-transition-duration: 0.55s;
  -moz-transition-property: 'background';
  -moz-transition-duration: 0.55s;
  -ms-transition-property: 'background';
  -ms-transition-duration: 0.55s;
  -o-transition-property: 'background';
  -o-transition-duration: 0.55s;
  transition-property: 'background';
  transition-duration: 0.55s;
  -webkit-transition-property: 'top';
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: 'top';
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: 'top';
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: 'top';
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  transition-property: 'top';
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
#menu-wrapper #menu ul {
  list-style-type: none;
  margin: 8px 0;
}
#menu-wrapper #menu ul li {
  display: inline;
}
#menu-wrapper #menu ul li a {
  color: white;
  text-decoration: none;
}
#menu-wrapper #menu ul li a span {
  text-decoration: underline;
}
#menu-wrapper #menu ul li :hover {
  background-color: #ffffff;
  color: #000000;
}
#menu-wrapper #menu .menu-inner {
  margin: 0 auto;
  max-width: 1220px;
}
#menu-wrapper #menu .menu-inner #main-nav {
  float: left;
  margin-left: -25px;
}
#menu-wrapper #menu .menu-inner #main-nav li {
  padding-right: 15px;
}
#menu-wrapper #menu .menu-inner #main-side-nav {
  float: right;
  margin-right: 10px;
}
#menu-wrapper #menu .menu-inner #main-side-nav li {
  padding-left: 15px;
}
#menu-wrapper #nose {
  position: absolute;
  top: 0;
  right: 100px;
}
#menu-wrapper #nose a {
  color: white;
  text-decoration: none;
}
#menu-wrapper #nose a > div {
  background-color: #000000;
  float: left;
  padding: 0 4px 2px 4px;
  margin-right: 7px;
}
.logo-carrier {
  position: fixed;
  left: 0;
  top: 55px;
  width: 100%;
}
.main {
  margin: 0 auto;
  max-width: 1220px;
  padding: 10px;
  margin-bottom: 20px;
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}
.bg-trans {
  background-color: transparent;
}
.bg-cyan {
  background-color: #22dbfd !important;
}
.grid {
  margin: 0 auto;
  max-width: 1220px;
  margin-top: 180px;
  /* fluid 5 columns */
  /* 2 columns */
  /* 3 columns */
  /* 4 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
}
.grid .grid-sizer,
.grid .grid-item {
  width: 8.3333%;
}
.grid .grid-item--width2 {
  width: calc(16.6666%);
}
.grid .grid-item--width3 {
  width: calc(24.999899999999997%);
}
.grid .grid-item--width4 {
  width: calc(33.3332%);
}
.grid .grid-item--width5 {
  width: calc(41.6665%);
}
.grid .grid-item--width6 {
  width: calc(49.99979999999999%);
}
.grid .grid-item--width7 {
  width: calc(58.333099999999995%);
}
.grid .grid-item--width8 {
  width: calc(66.6664%);
}
.grid .grid-item--width9 {
  width: calc(74.99969999999999%);
}
.grid .grid-item--width10 {
  width: calc(83.333%);
}
.grid .grid-item--width11 {
  width: calc(91.66629999999999%);
}
.grid .grid-item--width12 {
  width: calc(99.99959999999999%);
}
.grid article {
  padding: 10px;
}
.article-header {
  padding: 0 7px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.article-body {
  padding: 7px 7px 11px 7px;
  min-height: 40px;
  margin-top: 2px;
  background-color: #FFF;
  width: 100%;
  line-height: 100%;
  overflow: hidden;
}
.article-body h2 {
  text-align: center;
  margin-top: 20%;
  font-size: 32px;
  line-height: 100%;
  max-width: 100%;
}
.article-body h3 {
  text-align: center;
  margin-top: 10%;
  font-size: 17px;
  line-height: 100%;
  max-width: 100%;
}
.article-body h4 {
  text-align: center;
  margin-top: 10%;
  font-size: 11px;
  line-height: 100%;
  max-width: 100%;
  margin-bottom: 5px;
}
.image-carrier {
  position: relative;
  width: 100%;
  height: 360px;
}
.image-carrier:hover div.img {
  opacity: 1;
}
.image-carrier > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.image-carrier .img {
  background-color: transparent;
  opacity: 0;
  -webkit-transition-property: 'opacity';
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: 'opacity';
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: 'opacity';
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: linear;
  -o-transition-property: 'opacity';
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: linear;
  transition-property: 'opacity';
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.image-carrier .image-overlay {
  background-blend-mode: multiply;
}
.image-carrier .img-full {
  background-size: cover;
}
.copy-cyan {
  color: #22dbfd;
}
.text-carrier {
  font-family: times, 'times new roman';
  width: 60%;
  margin: 50px auto;
}
.text-carrier p {
  font-size: 18px;
  line-height: 120%;
  text-indent: 30px;
}
