body {
    font-family: 'andale mono', 'lucida console', monaco, courier, monospace;
    font-size: 12px;
}

button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0;
    font-family: chicago;
    padding: 4px 12px 3px 12px;
}

button:hover {
    background-color: black;
    color: white;
}

p {
    width: 20%;
}