/* ----- DEFINE COLORS ----- */

@black: #000000;
@grey: #CCCCCC;
@white: #FFFFFF;

@blu: #0000FF;
@lav: #993CF9;

@green: #10AC27;
@petrl: #187575;

@cyan: #22DBFD;
@red: #FF0000;

@flesh: #FE8992;
@sala: #444689;

@petrl-lgt: #35A8A9;
@smrgd: #15B3A8;
@live-lgt: #B6C440;

@citron: #FFFECF;
@olive: #666514;

@mud: #ABA648;
@carmine: #AB423F;

@main-mrg: 100px;
@col-width: 8.3333%;


/* ----- GENERIC CLASSES ----- */

.white-no-deco {
  color: white;
  text-decoration: none;
}

.container-pops {
  margin: 0 auto;
  max-width: 1220px;
}

.left-float {
  float:left;
}

.right-float {
  float:right;
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}

.width-50p {
  width: 50% !important;
}


/* ----- MIXINS ----- */

.transition ( @property, @duration, @style: ease-in-out ) {
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @style;

  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @style;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @style;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @style;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @style;
}


/* ----- BASE DEFINITIONS ----- */

body {
  position: relative;
  background-color: @grey;
  font-size: 12px;
  .transition( 'background', .5s );
}

#event-page {
  background-color: @cyan;
}

html, body, h1, h2, h3, h4 {
  font-family: 'andale mono', 'lucida console', monaco, terminal, 'courier new', courier, monospace;
}

h2 {
  font-size: 20px;
}

#menu-wrapper {
  position: relative;
  height: 38px;
  width: 100%;

  &:hover #menu {
    top: 0;
  }

  #menu {
    position: fixed;
    top: -33px;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: @black;
    color: @white;
    .transition( 'background', .55s );
    .transition( 'top', .3s );

    ul {
      list-style-type: none;
      margin: 8px 0;

      li {
        display: inline;

        a {
          color: white;
          text-decoration: none;

          span {
            text-decoration: underline;
          }
        }
        :hover {
          background-color: @white;
          color: @black;
        }
      }
    }

    .menu-inner {
      .container-pops;

      #main-nav {
        float: left;
        margin-left: -25px;
        li {
          padding-right: 15px;
        }
      }

      #main-side-nav {
        float: right;
        margin-right: 10px;
        li {
          padding-left: 15px;
        }
      }
    }
  }

  #nose {
    position: absolute;
    top: 0;
    right: @main-mrg;

    a {
      .white-no-deco;

      > div {
        background-color: @black;
        float: left;
        padding: 0 4px 2px 4px;
        margin-right: 7px;
      }
    }
  }
}

.logo-carrier {
  position: fixed;
  left: 0;
  top: 55px;
  width: 100%;
}

.main {
  .container-pops;
  padding: 10px;
  margin-bottom: 20px;
  color: @white;
}

.bg-white {
  background-color: @white;
}

.bg-trans {
  background-color: transparent;
}

.bg-cyan {
  background-color: @cyan !important;
}


.grid {
  .container-pops;
  margin-top: 180px;

  /* fluid 5 columns */
  .grid-sizer,
  .grid-item { width: @col-width; }
  /* 2 columns */
  .grid-item--width2 { width: calc(@col-width * 2); }
  /* 3 columns */
  .grid-item--width3 { width: calc(@col-width * 3); }
  /* 4 columns */
  .grid-item--width4 { width: calc(@col-width * 4); }
  /* 5 columns */
  .grid-item--width5 { width: calc(@col-width * 5); }
  /* 5 columns */
  .grid-item--width6 { width: calc(@col-width * 6); }
  /* 5 columns */
  .grid-item--width7 { width: calc(@col-width * 7); }
  /* 5 columns */
  .grid-item--width8 { width: calc(@col-width * 8); }
  /* 5 columns */
  .grid-item--width9 { width: calc(@col-width * 9); }
  /* 5 columns */
  .grid-item--width10 { width: calc(@col-width * 10); }
  /* 5 columns */
  .grid-item--width11 { width: calc(@col-width * 11); }
  /* 5 columns */
  .grid-item--width12 { width: calc(@col-width * 12); }

  article {
    padding: 10px;
  }

}

.article-header {
  padding: 0 7px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;

}
.article-body {
  padding: 7px 7px 11px 7px;
  min-height: 40px;
  margin-top: 2px;
  background-color: #FFF;
  width: 100%;
  line-height: 100%;
  overflow: hidden;

  h2 {
    text-align: center;
    margin-top: 20%;
    font-size: 32px;
    line-height: 100%;
    max-width: 100%;
  }

  h3 {
    text-align: center;
    margin-top: 10%;
    font-size: 17px;
    line-height: 100%;
    max-width: 100%;
  }

  h4 {
    text-align: center;
    margin-top: 10%;
    font-size: 11px;
    line-height: 100%;
    max-width: 100%;
    margin-bottom: 5px;
  }
}

.image-carrier {
  position: relative;
  width: 100%;
  height: 360px;

  &:hover div.img {
    opacity: 1;
  }

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .img {
    background-color: transparent;
    opacity: 0;
    .transition('opacity', .3s, linear);
  }
  .image-overlay {
    background-blend-mode: multiply;
  }
  .img-full {
    background-size: cover;
  }
}

.copy-cyan {
  color: @cyan;
}

.text-carrier {
  font-family: times, 'times new roman';
  width: 60%;
  margin: 50px auto;

  p {
    font-size: 18px;
    line-height: 120%;
    text-indent: 30px;
  }
}

