/* ----- DEFINE COLORS ----- */

@col-width: 8.3333%;


/* ----- GENERIC CLASSES ----- */

body {
  background-color: #191EE0;
  font-family: 'ocr a std', 'ocra', 'andale mono', monaco, monospace;
  color: white;
  margin: 0;
  padding: 4px;
}

button {
  font-family: 'ocr a std', 'ocra', 'andale mono', monaco, monospace;
  &:hover {
    cursor: pointer;
  }
}

.container-pops {
  margin: 0 auto;
  width: 100%;
  padding-left: 30%;
}

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}

/* ----- MAIN ----- */

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px;
  z-index: 1000;

  .nav-container {
    display:inline-block;
    float:left;
    padding-left: 4px;
    height: 120px;
    width: 40px;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
  }

  .nav-elem {
    background-color: white;
    color: #191EE0;
    border: none;
    border-radius: 0;
    padding: 10px;
    width: 120px;
    height: 40px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: -44px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    -webkit-transition: .36s ease-out;
    -moz-transition: .36s ease-out;
    -o-transition: .36s ease-out;
    transition: .36s ease-out;

    -webkit-transition-property: -webkit-transform, margin;
    -moz-transition-property: -moz-transform, margin;
    -o-transition-property: -o-transform, margin;
    transition-property: transform, margin;
  }

  .nav-container:hover {
    width: 120px;
  }

  .nav-container:hover .nav-elem {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: 80px;
    margin-left: -4px;
  }

}


.footer-nav {
  position: fixed;
  bottom: 2%;
  left: 30px;
}


.hero {
  position: fixed;
  top: 20%;
  width: 100%;
  z-index: 1000;

  &:hover {
    z-index: 1;
  }

  h1 {
    font-size: 100px;
    visibility: hidden;
    margin: 0 0 10px 50px;
    padding: 0 0 20px 0;
    background-color: transparent;
  }
}

.grid {
  .container-pops;
  margin-top: 180px;

  /* fluid 5 columns */
  .grid-sizer {
    width: @col-width;
  }
  .grid-item {
    width: @col-width;
    min-height: 200px;
    position: relative;
    -webkit-box-shadow: -26px 43px 100px 8px rgba(0,0,0,0.63);
    -moz-box-shadow: -26px 43px 100px 8px rgba(0,0,0,0.63);
    box-shadow: -26px 43px 100px 8px rgba(0,0,0,0.63);

    &:hover > div {
      z-index: 1001;
      cursor: pointer;
    }

    > div {
      position: absolute;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      h1 {
        color: white;
        font-size: 40px;

        a {

          &:hover {
            color: white;
            text-decoration: none;
          }
        }
      }
    }

  }
  /* 2 columns */
  .grid-item--width2 { width: calc(@col-width * 2); }
  /* 3 columns */
  .grid-item--width3 { width: calc(@col-width * 3); }
  /* 4 columns */
  .grid-item--width4 { width: calc(@col-width * 4); }
  /* 5 columns */
  .grid-item--width5 { width: calc(@col-width * 5); }
  /* 5 columns */
  .grid-item--width6 { width: calc(@col-width * 6); }
  /* 5 columns */
  .grid-item--width7 { width: calc(@col-width * 7); }
  /* 5 columns */
  .grid-item--width8 { width: calc(@col-width * 8); }
  /* 5 columns */
  .grid-item--width9 { width: calc(@col-width * 9); }
  /* 5 columns */
  .grid-item--width10 { width: calc(@col-width * 10); }
  /* 5 columns */
  .grid-item--width11 { width: calc(@col-width * 11); }
  /* 5 columns */
  .grid-item--width12 { width: calc(@col-width * 12); }

 /* article {
    padding: 50px;
  }*/

}