/* ----- DEFINE COLORS ----- */
/* ----- GENERIC CLASSES ----- */
body {
  background-color: #191EE0;
  font-family: 'ocr a std', 'ocra', 'andale mono', monaco, monospace;
  color: white;
  margin: 0;
  padding: 4px;
}
button {
  font-family: 'ocr a std', 'ocra', 'andale mono', monaco, monospace;
}
button:hover {
  cursor: pointer;
}
.container-pops {
  margin: 0 auto;
  width: 100%;
  padding-left: 30%;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/* ----- MAIN ----- */
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px;
  z-index: 1000;
}
.nav-wrapper .nav-container {
  display: inline-block;
  float: left;
  padding-left: 4px;
  height: 120px;
  width: 40px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
}
.nav-wrapper .nav-elem {
  background-color: white;
  color: #191EE0;
  border: none;
  border-radius: 0;
  padding: 10px;
  width: 120px;
  height: 40px;
  overflow: hidden;
  margin-top: 40px;
  margin-left: -44px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.36s ease-out;
  -moz-transition: 0.36s ease-out;
  -o-transition: 0.36s ease-out;
  transition: 0.36s ease-out;
  -webkit-transition-property: -webkit-transform, margin;
  -moz-transition-property: -moz-transform, margin;
  -o-transition-property: -o-transform, margin;
  transition-property: transform, margin;
}
.nav-wrapper .nav-container:hover {
  width: 120px;
}
.nav-wrapper .nav-container:hover .nav-elem {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-top: 80px;
  margin-left: -4px;
}
.footer-nav {
  position: fixed;
  bottom: 2%;
  left: 30px;
}
.hero {
  position: fixed;
  top: 20%;
  width: 100%;
  z-index: 1000;
}
.hero:hover {
  z-index: 1;
}
.hero h1 {
  font-size: 100px;
  visibility: hidden;
  margin: 0 0 10px 50px;
  padding: 0 0 20px 0;
  background-color: transparent;
}
.grid {
  margin: 0 auto;
  width: 100%;
  padding-left: 30%;
  margin-top: 180px;
  /* fluid 5 columns */
  /* 2 columns */
  /* 3 columns */
  /* 4 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* 5 columns */
  /* article {
    padding: 50px;
  }*/
}
.grid .grid-sizer {
  width: 8.3333%;
}
.grid .grid-item {
  width: 8.3333%;
  min-height: 200px;
  position: relative;
  -webkit-box-shadow: -26px 43px 100px 8px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -26px 43px 100px 8px rgba(0, 0, 0, 0.63);
  box-shadow: -26px 43px 100px 8px rgba(0, 0, 0, 0.63);
}
.grid .grid-item:hover > div {
  z-index: 1001;
  cursor: pointer;
}
.grid .grid-item > div {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.grid .grid-item > div h1 {
  color: white;
  font-size: 40px;
}
.grid .grid-item > div h1 a:hover {
  color: white;
  text-decoration: none;
}
.grid .grid-item--width2 {
  width: calc(16.6666%);
}
.grid .grid-item--width3 {
  width: calc(24.999899999999997%);
}
.grid .grid-item--width4 {
  width: calc(33.3332%);
}
.grid .grid-item--width5 {
  width: calc(41.6665%);
}
.grid .grid-item--width6 {
  width: calc(49.99979999999999%);
}
.grid .grid-item--width7 {
  width: calc(58.333099999999995%);
}
.grid .grid-item--width8 {
  width: calc(66.6664%);
}
.grid .grid-item--width9 {
  width: calc(74.99969999999999%);
}
.grid .grid-item--width10 {
  width: calc(83.333%);
}
.grid .grid-item--width11 {
  width: calc(91.66629999999999%);
}
.grid .grid-item--width12 {
  width: calc(99.99959999999999%);
}
